body { font-size: 62.5%; }

h2{
    margin-left: 25%;
  }

.cards{
  max-width:1200px;
  max-height:750px;

}

.card{
  width: 300px;
  height: 150px;
  float: left;
}

::ng-deep .ui-tabmenu{
  max-width: 1200px
}


#infsecurity .ui-tree
{
  padding-right: 10px;
}


#main {
      max-width: 1200px;  
      display: inline-block;
      vertical-align:top;
      }

#side{  
      display:  flex;
      align-items:  center;
      justify-content:center;
      }


@media(min-width: 1201px){
  #side {   
        margin-top: 16px;
        margin-left: 16px;
        max-height: 800px;
        width: 600px;
        display: inline-block;
        vertical-align:top;
        }  
}

@media(max-width: 1200px){
  #side {
        max-height: 800px;
        max-width: 1200px;        
        }  
}

::ng-deep div.ui-widget-content{
  padding-right: 10px;
}

.ui-widget input{
  max-width: 90px;
}

::ng-deep .ui-sidebar-close {
  float: left;
}

::ng-deep .ui-calendar {
  float: left;
  
}

::ng-deep .ui-calendar input{
 
  width: 6em;
}

::ng-deep table {
  table-layout: auto !important;
}

