<h2 translate>Main</h2>
<br />
<p-contextMenu #cm [model]="contextmenu_items"></p-contextMenu>




<p-tabMenu #menuItems [model]="files_menu" [activeItem]="activeItem" (click)="activateMenu()"  ></p-tabMenu>

<div id="main">

<!-- digests -->
<!-- <div *ngIf="activeItem == files_menu[0]">
    <table>
        <tr>
            <td>
                <br />
                <a href="assets/pdf/digest02.pdf">Digest 2018-08</a>
            </td>
        </tr>
    </table>
</div> -->

<!-- digests -->
<div *ngIf="activeItem.label == 'Дайджесты'" id="digests">
        <br/>
        <p-tree  [value]="digests_last"  selectionMode="single" [(selection)]="selectedDigest" (onNodeSelect)="onDigestClick($event)" layout="horizontal">
                <ng-template let-node  pTemplate="folder">
                        <a title="{{node.id}}"  >{{  node.name  }}</a>
                        <!-- <a>{{   node.id }}</a> -->
                </ng-template>
                <ng-template let-node  pTemplate="file">
                            <a title="{{node.id}}" >{{  node.label  }}</a><br/>
                            <!-- <a title="{{node.size}}" >{{  node.size  }} kb</a> -->
                            <!-- <a>{{   node.id }}</a> -->
                </ng-template>                    
        </p-tree>
        

        <br/>

    <!-- <iframe *ngIf="iframeview_d" style="height:750px" width="100%" [src]= "purl" ></iframe> -->
       
    <!-- <table>                
        <tr *ngFor="let digest of digests_last">
            <td>
            {{ digest.name }}
            </td> 
            <td>
            {{ digest.size }} bytes
            </td>
        </tr>
    </table> -->
    <button pButton  id="rtab" label = "Show Right Tab" (click)="onClickShowRTAB()" ></button>


    <!-- <table>
        <tr>
            <td>
                <br />
                <a href="assets/pdf/digest02.pdf">Digest02</a>
                <br />
                <a href="assets/pdf/digest03.pdf">Digest03</a>
            </td>
        </tr>
    </table> -->

</div>

<!-- isntructions -->
<div *ngIf="activeItem.label == 'Инструкция SD'">

        <!-- <table>
                <tr>
                    <td>
                        <br />
                        <a href="">Instruction #1</a>
                        <br />
                        <a href="">Security #1</a>
                    </td>
                </tr>
            </table> -->
        <!--   start    -->

    <div class="post clear post-2337 page type-page status-publish hentry" id="post-2337">
        <div class="singlepost entry">
        <p style="text-align: center;">
        <span style="color:#008000;"><em><strong><span style="font-size:22px;">Порядок обращения в SD&nbsp;(cервис-деск):</span></strong></em></span>
        </p>
        <p style="text-align: center;">
        <br>
        <em><span style="font-size:18px;">Все запросы принимаются по электронной почте на <strong><a href="mailto:sd@luxoptica.com.ua"><span style="color:#008000;">sd@luxoptica.com.ua</span></a></strong><br>
        <strong>Срочный вопрос</strong> — обращайтесь по телефону.</span></em>
        </p>
        <p style="text-align: center;">
        &nbsp;
        </p>
        <table border="1" cellpadding="1" cellspacing="1">
        <tbody>
        <tr>
        <td>
        <p style="text-align: center;">
        <strong>Новое рабочее место<br>
        (закупка)</strong>
        </p>
        </td>
        <td>
        <p style="text-align: justify;">
        &nbsp; &nbsp;Если для нового сотрудника необходимо новое рабочее место, непосредственный руководитель/сотрудник департамента должен оформить на <strong><a href="mailto:sd@luxoptica.com.ua"><span style="color:#008000;">sd@luxoptica.com.ua</span></a></strong>&nbsp;заявку — письмо в свободной форме с указанием должности, департамента и направления (Розница, Опт, Холдинг) минимум за две недели до выхода нового сотрудника (для бюджетирования и закупки).
        </p>
        </td>
        </tr>
        <tr>
        <td style="text-align: center;">
        <strong>Выход нового сотрудника&nbsp;<br>
        (настройка рабочего места, доступы)</strong>
        </td>
        <td>
        <p>
        &nbsp; &nbsp; &nbsp; При выходе нового сотрудника на работу необходимо оформить заявку на <strong><a href="mailto:sd@luxoptica.com.ua"><span style="color:#008000;">sd@luxoptica.com.ua</span></a></strong> указав следующую информацию:<br>
        &nbsp;— ФИО нового сотрудника;<br>
        &nbsp;— Должность;<br>
        &nbsp;— Юр. Лицо, на которое оформляется сотрудник;<br>
        &nbsp;— Подразделение/Департамент/Направление (Розница, Опт, Холдинг);<br>
        &nbsp;— Перечислить базы 1С к которым нужен доступ;<br>
        &nbsp;— Перечислить сетевые ресурсы к которым нужен доступ (название, путь);<br>
        &nbsp;— Указать специальное ПО (если необходимо);<br>
        &nbsp;— Дату выхода сотрудника.<br>
        <span style="color:#A52A2A;"><strong><u>&nbsp; Заявку необходимо оформить минимум за один рабочий день до выхода нового сотрудника.</u></strong></span>
        </p>
        </td>
        </tr>
        <tr>
        <td style="text-align: center;">
        <strong>Увольнение сотрудника<br>
        (блокирование доступов)</strong>
        </td>
        <td style="text-align: justify;">
        <p>
        &nbsp; При увольнении сотрудника непосредственный руководитель/сотрудник департамента должен оформить заявку на <a href="mailto:sd@luxoptica.com.ua"><strong><span style="color:#008000;">sd@luxoptica.com.ua</span></strong></a> указав дату последнего рабочего дня для блокирования доступов и почты.
        </p>
        </td>
        </tr>
        <tr>
        <td style="text-align: center;">
        <strong>Доступ к сетевым ресурсам/папкам</strong>
        </td>
        <td style="text-align: justify;">
        <p>
        &nbsp; &nbsp; &nbsp; Если сотруднику необходим доступ к сетевым ресурсам, сотрудник должен указать наименование ресурса и согласовать данный вопрос в письме с руководителем подразделения которому принадлежит данный ресурс, далее переслать письмо с положительным решением на <a href="mailto:sd@luxoptica.com.ua"><span style="color:#008000;"><strong>sd@luxoptica.com.ua</strong></span></a>.<br>
        Либо заявка оформляется Руководителем подразделения указав кому и какие доступы необходимо предоставить.
        </p>
        </td>
        </tr>
        <tr>
        <td style="text-align: center;">
        <strong>Дополнительное ПО</strong>
        </td>
        <td style="text-align: justify;">
        <p>
        &nbsp; &nbsp; Дополнительное программное обеспечение ставится при запросе на <a href="mailto:sd@luxoptica.com.ua"><span style="color:#008000;"><strong>sd@luxoptica.com.ua</strong></span></a> с копией письма на непосредственного Руководителя и обоснованием необходимости установки данного ПО.
        </p>
        </td>
        </tr>
        <tr>
        <td style="text-align: center;">
        <strong>Новое оборудование (мышка, клавиатура, гарнитура и т.п.)</strong>
        </td>
        <td style="text-align: justify;">
        &nbsp; &nbsp; &nbsp; &nbsp;Если сотруднику необходимо новое оборудование — оформляется заявка на <a href="mailto:sd@luxoptica.com.ua"><strong><span style="color:#008000;">sd@luxoptica.com.ua</span></strong></a>.
        </td>
        </tr>
        <tr>
        <td style="text-align: center;">
        <strong>Замена картриджа, проблема с принтером</strong>
        </td>
        <td style="text-align: justify;">
        <p>
        &nbsp; При необходимости замены картриджа, возникновении проблемы с принтером необходимо оформить запрос на <a href="mailto:sd@luxoptica.com.ua"><strong><span style="color:#008000;">sd@luxoptica.com.ua</span></strong></a> указав модель принтера (название и цифры на принтре, пример: Canon MF 4570 dn) и название подразделения где он установлен.
        </p>
        </td>
        </tr>
        <tr>
        <td style="text-align: center;">
        <strong>Другие вопросы по ИТ</strong>
        </td>
        <td>
        <p>
        &nbsp; &nbsp; &nbsp; &nbsp;Описать проблему или пожелание на <strong><a href="mailto:sd@luxoptica.com.ua"><span style="color:#008000;">sd@luxoptica.com.ua</span></a><span style="color:#008000;">.</span></strong>
        </p>
        </td>
        </tr>
        </tbody>
        </table>
        <p style="text-align: center;">
        <br>
        <span style="font-size:18px;"><strong>Доступ к 1С</strong>&nbsp;</span><br>
        <span style="font-size:16px;"><em>"Сервис Next Business Day" крайний срок предоставления — следующий день после запроса на</em><span style="font-size:18px;"> </span><a href="mailto:sd@luxoptica.com.ua"><strong><span style="color:#008000;">sd@luxoptica.com.ua</span></strong></a></span>
        </p>
        <table border="1" cellpadding="1" cellspacing="1">
        <tbody>
        <tr>
        <td style="text-align: center;">
        <strong>Доступ к 1С</strong>
        </td>
        <td style="text-align: justify;">
        <p>
        &nbsp; &nbsp; &nbsp; Если сотруднику необходим доступ к 1С, сотрудник должен указать наименование баз 1С согласно списку баз 1С и согласовать данный вопрос в письме с руководителем подразделения которому принадлежит данная база, далее переслать письмо с положительным решением на <a href="mailto:sd@luxoptica.com.ua"><strong><span style="color:#008000;">sd@luxoptica.com.ua</span></strong></a> с указанием ФИО пользователя с аналогичными правами.<br>
        &nbsp; &nbsp; &nbsp; Либо заявка оформляется Руководителем подразделения, указав кому и какие доступы (ФИО сотрудника с аналогичными правами в 1С) необходимо предоставить.
        </p>
        </td>
        </tr>
        <tr>
        <td style="text-align: center;">
        <strong>Расширение прав в 1С</strong>
        </td>
        <td>
        <p style="text-align: justify;">
        &nbsp; &nbsp; &nbsp; При необходимости расширения прав в 1С сотруднику необходимо в письменной форме согласовать с непосредственным руководителем какие именно пункты меню и права необходимо добавить, затем переслать письмо с положительным решением на <strong><a href="mailto:sd@luxoptica.com.ua"><span style="color:#008000;">sd@luxoptica.com.ua</span></a></strong> указав имя учетной записи 1С, под которой он работает и базу 1С согласно списку.<br>
        &nbsp; &nbsp; &nbsp; Либо заявка оформляется Руководителем подразделения.
        </p>
        </td>
        </tr>
        </tbody>
        </table>
        <p>
        &nbsp;
        </p>
        <p>
        &nbsp;
        </p>
        </div>
    </div>

<!--   end     -->
</div>



<!-- orders -->
<div *ngIf="activeItem.label == 'Приказы'">
    <table>
        <tr>
            <td>
                <br />
                <a href="http://wp.luxoptica.com.ua/wp-content/uploads/2017/Prykazi/%D0%9F%D1%80%D0%B8%D0%BA%D0%B0%D0%B7%20%D0%BE%D0%B1%20%D0%BE%D0%B1%D1%80%D0%B0%D1%89%D0%B5%D0%BD%D0%B8%D1%8F%D1%85%20%D0%B8%20%D0%B7%D0%B0%D0%BF%D1%80%D0%BE%D1%81%D0%B0%D1%85%20%D0%BD%D0%B0%20SD.PDF">Order
                    #1</a>
            </td>
        </tr>
    </table>
</div>

<!-- files -->
<div *ngIf="activeItem.label == 'OneDrive'">
        <br/>
        
        <p-tree [contextMenu]="cm" [value]="onedrivefolders"  selectionMode="single" [(selection)]="selectedFile"  layout="horizontal">
                <ng-template let-node  pTemplate="folder">
                        <a title="{{node.id}}"  >{{  node.label  }}</a>
                        <!-- <a>{{   node.id }}</a> -->
                    </ng-template>
                    <ng-template let-node  pTemplate="file">
                            <a title="{{node.id}}" >{{  node.label  }}</a><br/>
                            <a title="{{node.size}}" >{{  node.size  }} kb</a>
                            <!-- <a>{{   node.id }}</a> -->
                    </ng-template>                    
        </p-tree>


        <!-- <table>
            <td>Modified</td><td>Name</td><td>Size</td>
            <tr *ngFor="let file of files_last">
                <td>
                        {{ file.lastModifiedDateTime }}
                </td>
                <td>
                        {{ file.name }}
                </td> 
                <td>
                        {{ file.size }} bytes
                </td>
            </tr>
        </table> -->
</div>
<!-- email -->
<!-- <div *ngIf="activeItem == files_menu[4]">
    <br/>
    <table>
 <tr>
     <td>Date</td><td>Sender</td><td>Subject</td>
 </tr>


        <tr *ngFor="let email of email_last">
            <td>
                {{ email.receivedDateTime }}
            </td>
            <td>
                {{ email.sender.emailAddress.address }}
            </td> 
            <td>
                {{ email.subject }}
            </td>
        </tr>
    </table>
</div> -->




<!--            emails                  -->
<div *ngIf="activeItem.label == 'Emails'">
<!--   [resizableColumns]="true" columnResizeMode="expand"  -->
    <br/>
    <p-table #dttb [columns]="table_email_cols" [value]="email_last"  dataKey="receivedDateTime" [responsive]="true" [paginator]="true" [rows]="20" [globalFilterFields]="['sender.emailAddress.name']" >    <!--  [globalFilterFields]="['sender.receivedDateTime']['sender.emailAddress.name']"  -->
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th style="width: 3em" pResizableColumn ></th>
                <th *ngFor="let col of table_email_cols" pResizableColumn >
                    {{col.header}}
                </th>            
            </tr>
            <tr>
                <th></th>                           
                <th *ngFor="let col of table_email_cols" [ngSwitch]="col.field" >                        
                    <p-calendar *ngSwitchCase="'receivedDateTime'"    [(ngModel)]="calendar_date" dateFormat="dd.mm.yy" (onClearClick)="dttb.filter('', col.field, 'contains' )" showIcon="true" showButtonBar="true" (onSelect)="onDateSelect()" [disabledDates]="invalidDates" [readonlyInput]="true" placeholder="Select date" ></p-calendar>
                    <p-dropdown *ngSwitchCase="'sender'" [options]="senders"  [style]="{'width':'100%'}" (onChange)="dttb.filter($event.value, ['sender.emailAddress.name'], 'equals')"></p-dropdown>    <!--  "dttb.filterGlobal($event.value, 'contains')" -->
                </th>                
            </tr>                        
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-expanded="expanded" let-columns="table_email_cols">
            <tr>
                <td>
                    <a href="#" [pRowToggler]="rowData">
                        <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
                    </a>
                </td>
                <td *ngFor="let col of table_email_cols" [ngSwitch]="col.field" class="ui-resizable-column"  >
                        <a *ngSwitchCase="'receivedDateTime'" >{{rowData[col.field] | date:'dd.MM.yyyy HH:mm' }}</a>   <!-- | date:'dd.MM.yyyy HH:mm'  -->
                        <a *ngSwitchCase="'sender'" >{{rowData[col.field].emailAddress.name}}</a>
                        <a *ngSwitchDefault >{{rowData[col.field]}}</a>                    
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="rowexpansion" let-rowData let-columns="table_email_cols">
            <tr>
                <td [attr.colspan]="table_email_cols.length + 1">
                    <div class="ui-g ui-fluid" style="font-size:16px;padding:20px">
                        <div class="ui-g-12 ui-md-3" style="text-align:center">
                            <img [attr.alt]="rowData.subject" src="assets/img/logo_ico.png">
                        </div>
                        <div class="ui-g-12 ui-md-9">
                            <div class="ui-g">
                                <div class="ui-g-12">
                                        <b>Body:</b> {{rowData.bodyPreview}}
                                </div>                                 
                                <div class="ui-g-12">
                                    <b>Date:</b> {{rowData.receivedDateTime}}
                                </div>
                                <div class="ui-g-12">
                                    <b>Sender:</b> {{rowData.sender.emailAddress.name}}
                                </div>
                                <div class="ui-g-12">
                                    <b>Subject:</b> {{rowData.subject}}
                                </div> 
                                <div class="ui-g-12">
                                        <b>Email:</b>{{rowData.sender.emailAddress.address}}
                                </div> 
                                
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<!-- events -->
<div *ngIf="activeItem.label == 'Events'">
    <br/>
    <table>
    <tr>
         <td>Date</td><td>Location</td><td>Subject</td>
    </tr>
    <tr *ngFor="let event of events_last">
                <td>
                    {{ event.start.dateTime }}
                </td>
                <td>
                    {{ event.location.displayName }}
                </td> 
                <td>
                    {{ event.subject }}
                </td>
            </tr>
    </table>
</div>

    <!-- lists -->
<div *ngIf="activeItem.label == 'Lists'">
    <br/>
    <table>
    <tr>
        <td>id</td><td>Title</td><td>Department</td>
    </tr>
    
    
            <tr *ngFor="let list of lists_last">
                <td>
                    {{ list.fields.id }}
                </td>
                <td>
                    {{ list.fields.Title }}
                </td> 
                <td>
                    {{ list.fields.department }}
                </td>
            </tr>
    </table>
</div>

    
    <!-- shared -->
<div *ngIf="activeItem.label == 'Shared'">
        <br/>
        <table>
            <td>Modified</td><td>Name</td><td>Size</td>
            <tr *ngFor="let share of shared_last">
                <td>
                        {{ share.lastModifiedDateTime }}
                </td>
                <td>
                        {{ share.name }}
                </td> 
                <td>
                        {{ share.size }} bytes
                </td>
            </tr>
        </table>
</div>


        <!-- projects -->
<div *ngIf="activeItem.label == 'Проекты'">
    <br/>
    
    <br/>
    <table>
        
        <tr *ngFor="let project of projects_last">
            <td>
                    
            </td>
            <td>
                    
            </td> 
            <td>
                    
            </td>
        </tr>
    </table>
</div>


<!-- infsecurity -->
<div id="infsecurity" *ngIf="activeItem.label == 'inf'">
    <!-- <span>Инструкции по информационной безопасности</span> -->
    <br/>
    <!-- layout="horizontal" -->
    <p-tree [value]="instructions"   selectionMode="single" [(selection)]="selectedFile"  layout="horizontal"  (onNodeSelect)="onPdfClick($event)" >
            <ng-template let-node  pTemplate="folder">
                    <a title="{{node.id}}"  >{{  node.label  }}</a>
                    <!-- <a>{{   node.id }}</a> -->
                </ng-template>
                <ng-template let-node  pTemplate="file" >
                        <a title="{{node.id}}" >{{  node.label  }}</a><br/>                                
                        <!-- <a>{{   node.id }}</a> -->
                </ng-template>                    
    </p-tree>
</div> 


<!-- cards -->
<div id="cards" *ngIf="activeItem.label == 'Cards'">
    <br/> 

    <div class="ui-g" class = "cards"> 
        <div class="ui-g-4" *ngFor="let card of cards; index as i;"  class = "card" > 
            <!-- <md-card>
                    <img src="/assets/img/optic_ico.png">
                    <md-card-header>
                        {{card.header}}
                    </md-card-header>
                    {{card.content}}
            </md-card> -->
            

            <p-card header="hi" styleClass="ui-card-shadow">               
                    <!-- <img src="/assets/img/optic_ico.png"> -->
                    <svg width="300" height="90" >                                
                            <g>
                                <rect x="5" y="5" rx="20" ry="20" width="260" height="60" [ngStyle]="{'fill': card.color,'stroke':'black','stroke-width':'5','opacity':'0.5'}" />
                                <text x="15" y="30" [ngStyle]="{'fill': card.color}" >{{card.content}}</text>
                            </g>
                </svg>               
            </p-card>
        </div>  
    </div>    
    </div> 
    
    
    <br/> 


    <!-- <div>

        <button pButton type="button" label = "eAtMe" (click)="onCardFunc()" ></button>
        <div #controlpan >Options</div>  
    
    </div> -->

    


</div>













<!-- <div id="side" *ngIf = "(iframeview_d || iframeview) && (activeItem == files_menu[15] || activeItem == files_menu[2] )">
    <app-loader *ngIf = "iframe_not_loaded" id="loader_circle"></app-loader>
    <iframe id="iframe_hook" style="height:750px" width="100%" [src]= "iframesrc" (load)=" iframe_not_loaded = false; "  ></iframe>
</div> -->

<!-- onload="document.getElementsByClassName('loader_circle').style.hidden = true;"  document.getElementsByClassName('loader').style.display = 'none';  -->

    <!-- <a href={{purl}}><p>Download PDF</p></a> -->
    <!-- <img [src]="imgsrc"> -->
    <!-- <pdf-viewer [src]="pdfsrc" [zoom]="0.4"></pdf-viewer> -->

<!-- ------------------------------------------------------------ -->









