h2{
    margin-left: 25%;
  }

p-dropdown, button{
    margin-left: 5%;  
  }

#server2{
  margin-left: 5%;
}

#respo1, #respo2 {
    margin-left: 5%;
    width: 450px;
    height: 80px;
  }

td {
  vertical-align:top;	
  }