<h2 translate>Complain</h2>
<br/>

<div id='first'>
<table valign="top"	>
    <tr>
        <td> 
            <a>Get Azure Graph Refresh token</a>           
        </td>
        <td>                 
            <a [href]="form_graph_ms_tmp.url_auth_code">Get MS Graph Auth code1</a>
        </td>
        <td> 
            <a>Get Azure Graph Refresh token</a>           
        </td>        
    </tr>
    <tr>
    <td>
        <form #form1 [action]="form_graph_azure_tmp.url" method="post">            
            client_id: <input type="text" name="client_id" [value]="form_graph_azure_tmp.client_id" readonly ><br>
            client_secret: <input type="text" name="client_secret" [value]="form_graph_azure_tmp.client_secret" readonly ><br>
            grant_type: <input type="text" name="grant_type" [value]="form_graph_azure_tmp.grant_type" readonly ><br>
            resource: <input type="text" name="resource" [value]="form_graph_azure_tmp.resource" readonly ><br>            
            <input type="submit" (click)="form1.submit() ">
        </form>
    </td>
    <td>
        <form #form2 [action]="form_graph_ms_tmp.url" method="post">
            client_id: <input type="text" name="client_id" [value]="form_graph_ms_tmp.client_id" readonly ><br>
            client_secret: <input type="text" name="client_secret" [value]="form_graph_ms_tmp.client_secret" readonly ><br>
            grant_type: <input type="text" name="grant_type" [value]="form_graph_ms_tmp.grant_type" readonly ><br>
            redirect_uri: <input type="text" name="redirect_uri" [value]="form_graph_ms_tmp.redirect_uri" readonly ><br>
            scope: <input type="text" name="scope" [value]="form_graph_ms_tmp.scope" readonly ><br>
            code: <input type="text" name="code" value="" placeholder="input code HERE!" ><br>
            <input type="submit" (click)="form2.submit() ">
            <button pButton type="button" label="GetAuthCode" class="ui-button" (click)="getAuthCode()" ></button>
        </form>    
    </td>
    <td>
    </td>
    <tr>
    <td>
        <button pButton type="button" label="SetLocalCode_ag" class="ui-button-success" (click)="onSetLocalCode_ag()" ></button>
        <textarea pInputTextarea [(ngModel)]="SetLocalCode_ag" name="code_ag" id="code_ag"></textarea>
    </td>
    <td>
        <button pButton type="button" label="SetLocalCode_ms" class="ui-button-success" (click)="onSetLocalCode_ms()" ></button>
        <textarea pInputTextarea [(ngModel)]="SetLocalCode_ms" name="code_ms" id="code_ms"></textarea>
    </td>  
    <td>
        <button pButton type="button" label="SetLocalCode_spo" class="ui-button-success" (click)="onSetLocalCode_spo()" ></button>
        <textarea pInputTextarea [(ngModel)]="SetLocalCode_spo" name="code_ms" id="code_spo"></textarea>
    </td>         
    </tr>
</table>
</div>

<br/>

<div id='second'>
    <h3>Query</h3>
    <input [(ngModel)]="server2" name="server2" id='server2' placeholder='server2' style='width:800px;' (dblclick)='onDblClick(event)' />
    <br/>
    <p-dropdown hidden [options]="topics" [(ngModel)]="topic1" name="ctopic" (ngModelChange)="onTopicChange()" placeholder='Responce' ></p-dropdown>
    <br/>
    <button pButton type="button" label="SendComplain" class="ui-button-Send" (click)="SendComplain()"></button>
    <!-- <button pButton type="button" label="GetUser" class="ui-button-Send" (click)="getUser()"></button> -->
    <br/>
    <br/>
    <textarea pInputTextarea [(ngModel)]="respo1" name="respo1" id="respo1"></textarea>
    <br/>
    <br/>
    <p>
    <label>
    Server
    </label>
    <p-dropdown [(ngModel)]="server1" [options]="urls" name="addr" (dblclick)='onDblClick(event)' (ngModelChange)='onServerChanged(event)' > Server</p-dropdown>
    <label>
    Method
    </label>
    <p-dropdown [(ngModel)]="method1" [options]="httpmethod" name="method"  (dblclick)='onDblClick(event)' (ngModelChange)='onMethodChanged(event)' >Method</p-dropdown>
    </p>
</div>


<div hidden id='body'>
    <p>
    <label>Body</label>    
    <textarea [ngModel]='post_body' name= 'post_body' placeholder='Post body' style='width:1200px; height:100px;' (dblclick)='onDblClick(event)' ></textarea>
    </p>
    <p>
    <label>
    grant_type
    </label>
    <input [(ngModel)]="params[0].text" name="topic0" placeholder='grant_type' style='width:1200px;' (dblclick)='onDblClick(event)' />
    </p>
    <p>
    <label>
    resource
    </label>    
    <input [(ngModel)]="params[1].text" name="topic1" placeholder='resource' style='width:1200px;' (dblclick)='onDblClick(event)'/>
    </p>
    <p>
    <label>
    client_id
    </label>
    <input [(ngModel)]="params[2].text" name="topic2" placeholder='client_id' style='width:1200px;' (dblclick)='onDblClick(event)' />
    </p>
    <p>
    <label>
    client_secret
    </label>
    <input [(ngModel)]="params[3].text" name="topic3" placeholder='client_secret' style='width:1200px;' (dblclick)='onDblClick(event)' />
    </p>
    <p>
    <label>
    code
    </label>
    <textarea [(ngModel)]="params[4].text" name="topic4" placeholder='code' style='width:1200px; height:50px;' (dblclick)='onDblClick(event)'></textarea>
    </p>
    <p>
    <label>
    redirect_uri
    </label>
    <input [(ngModel)]="params[5].text" name="topic5"  placeholder='redirect_uri' style='width:1200px;' (dblclick)='onDblClick(event)'/>
    </p>
    <button pButton type="button" label="FormBody" class="ui-button-success" (click)="onFormBodyClick()" ></button>
</div>

<div id='third'>
    <p>
        <button pButton type="button" label="Send" class="ui-button-success" (click)="onSendClick()" ></button>        
        </p>
        <p>
        <textarea pInputTextarea [(ngModel)]="respo2" name="respo2" id="respo1"></textarea>
    </p>
</div>

<div id = 'fourth'>
    <br/>
    <a href='https://interoko.sharepoint.com/teams/hr/_layouts/15/AppRegNew.aspx'>https://interoko.sharepoint.com/teams/hr/_layouts/15/AppRegNew.aspx</a>
    <br/>
    <a href='https://interoko.sharepoint.com/teams/hr/_layouts/15/AppInv.aspx'>https://interoko.sharepoint.com/teams/hr/_layouts/15/AppInv.aspx</a>
    <br/>
    <a href='https://interoko.sharepoint.com/teams/hr/_layouts/15/AppPrincipals.aspx'>https://interoko.sharepoint.com/teams/hr/_layouts/15/AppPrincipals.aspx</a>
    <br/>    
    <button pButton (clicl)="onSpClick()" label="Push ME"></button>
</div>


