h2{
    margin-left: 25%;
  }

  .form,.textb,.fileUpload,p-dropdown,button,textarea{ 
  margin-right: 2%;
  margin-left: 2%;
  width: 90%;
  max-width: 1200px;  
}

.dep{  
  max-width: 40%;
}

.topic{  
  min-width: calc(40%-25px);
}


