<div>
<h2 translate>Feedback</h2>
<br/>
<br/>
<br/>
<div>
<p-dropdown [options]="dep1" [(ngModel)]="selectedDep1" name="dep1" (ngModelChange)="onDepChange()" ></p-dropdown>
<br/>
<p-dropdown [options]="topic1" [(ngModel)]="selectedTopic1" name="topic" (ngModelChange)="onTopicChange()" ></p-dropdown>
<br/>
<textarea pInputTextarea [(ngModel)]="writtenText1" name="theme2" id="textb"></textarea>
<br/>
<button pButton type="button" type="submit" label="Submit" class="ui-button-success" (click)="onSubmitClick()" ></button>
</div>
<br/>
<br/>
<a hidden id="mailsending" href="mailto:sd@luxoptica.com.uat" >
<button name="sendbutton" pButton type="button" label="Создать заявку по электронной почте" class="ui-button-success"></button>
</a>
<p hidden><a href="mailto:sd@luxoptica.com.ua">Создание заявок по электронной почте</a></p>
</div>
