<div>
<h2 translate>Feedback</h2>
<br/>
<div>
<p-dropdown class="dep" name="dep1" [options]="dep1" [(ngModel)]="selectedDep1" (ngModelChange)="onDepChange()" ></p-dropdown>
<br/>
<p-dropdown class="topic" name="topic" [options]="topic1" [(ngModel)]="selectedTopic1" (ngModelChange)="onTopicChange()" ></p-dropdown>
<br/>
<textarea class="textb" name="theme2" pInputTextarea [(ngModel)]="writtenText1" ></textarea>
<br/>
<a href="mailto:nikonov.m@luxoptica.com.ua?subject={{selectedTopic1.label}}&body={{writtenText1}}" >
<button name="sendbutton" pButton type="button" label="Отправить созданную заявку по электронной почте" class="ui-button-success"></button>
</a>
</div>
</div>


<!-- <button hidden pButton type="button" type="submit" label="Submit" class="ui-button-success" (click)="onSubmitClick()" ></button> -->
<!-- <p hidden><a href="">Отправка сообщения</a></p> -->

<!-- <a hidden id="mailsending" href="mailto:sd@luxoptica.com.uat" >
    <button name="sendbutton" pButton type="button" label="Создать заявку по электронной почте" class="ui-button-success"></button>
    </a>
    <p><a href="mailto:nikonov.m@luxoptica.com.ua?subject={{selectedTopic1}}&body={{writtenText1}}">Отправка сообщения</a></p>
    </div> -->
<!-- 
    <a href="mailto:nikonov.m@luxoptica.com.ua?subject={{selectedTopic1.label}}&body={{writtenText1}}" >
        <button name="sendbutton" pButton type="button" label="Создать заявку по электронной почте" class="ui-button-success"></button>
        </a> -->
