h2{
    margin-left: 25%;
  }

p-dropdown,button,textarea{

 
  margin-right: 2%;
  margin-left: 2%;
  width: 90%;

  max-width: 1200px;
  
}

.dep{  
  max-width: 40%;
}

.topic{  
  min-width: calc(40%-25px);
}

.textb {  
  margin-left: 2%;
  width: 90%;
  height: 8em;
  max-width: 1200px;
}

