<table>
<tr>
<td>
<img id="photo" [src]="user_photo_src" />
</td>
<td>
<a id="fname" > {{fname}} </a>
</td>
<td>
<a hidden="{{isLoggedin}}" ><p-button *ngIf ="is2Loggedin"  class="butOut" (click)="userLogout()" label="{{'LOGOUT' | translate}}" icon="pi pi-sign-out"></p-button></a>
</td>
<td>
<p-dropdown   [options]="langs" [(ngModel)]="selectedlang" name="langs" (ngModelChange)="onLangChange()"  ></p-dropdown> 
</td>
</tr>
</table>

<ul>    
    <li routerLink="/mainpage" routerLinkActive="active" translate>Main</li>
    <li routerLink="/news" routerLinkActive="active" translate>News</li>
    <li routerLink="/docs" routerLinkActive="active" translate>Documents</li>    
    <li routerLink="/retail" routerLinkActive="active" translate>Retail</li>
    <li routerLink="/structure" routerLinkActive="active" translate>Structure</li>
    <li routerLink="/employees" routerLinkActive="active" translate>Employees</li>
    <li routerLink="/feedback" routerLinkActive="active" translate>Feedback</li>
    <li routerLink="/complain" routerLinkActive="active" translate>Complain</li>
    <li routerLink="/circulation" routerLinkActive="active" translate>Circulation</li>
</ul> 


<table>
<tr>
<td>
<a style="margin-left: 3em;" >
 
</a>
</td>
<td>

</td>
</tr>
</table>

<!-- <div class = "auth">
<p style="margin-left: 50px; align-content: center" >
<p-button [hidden]="true"  class="ui-button-login" (click)="userLogin()"  translate></p-button>
</p>
</div> -->


