<div class = 'auth'>
<img src='' />
<input [ngModel]='fname' readonly='readonly' />
<p>
<button pButton type="button" label="Login" class="ui-button-login" (click)="userLogin()"></button>
<button pButton type="button" label="Logout" class="ui-button-logout" (click)="userLogout()"></button>
</p>
</div>
<ul>    
    <li routerLink="/mainpage" routerLinkActive="active">Main</li>
    <li routerLink="/news" routerLinkActive="active">News</li>    
    <li routerLink="/structure" routerLinkActive="active">Structure</li>
    <li routerLink="/docs" routerLinkActive="active">Documents</li>
    <li routerLink="/retail" routerLinkActive="active">Retail</li>
    <li routerLink="/employees" routerLinkActive="active">Employees</li>
    <li routerLink="/feedback" routerLinkActive="active">Feedback</li>
    <li routerLink="/complain" routerLinkActive="active">Complain</li>
</ul> 


