<div class = 'auth'>
<img src='' />
<a style="text-align:justify;">{{fname}}</a>
<br/>
<p>
<p-dropdown  [options]="langs" [(ngModel)]="selectedlang" name="langs" (ngModelChange)="onLangChange()"  ></p-dropdown>
<br/>
<p-button class="ui-button-login" (click)="userLogin()"  translate>Login</p-button>
<p-button class="ui-button-logout" (click)="userLogout()" translate>Logout</p-button>
</p>

</div>
<ul>    
    <li routerLink="/mainpage" routerLinkActive="active" translate>Main</li>
    <li routerLink="/news" routerLinkActive="active" translate>News</li>
    <li routerLink="/docs" routerLinkActive="active" translate>Documents</li>    
    <li routerLink="/retail" routerLinkActive="active" translate>Retail</li>
    <li routerLink="/structure" routerLinkActive="active" translate>Structure</li>
    <li routerLink="/employees" routerLinkActive="active" translate>Employees</li>
    <li routerLink="/feedback" routerLinkActive="active" translate>Feedback</li>
    <li routerLink="/complain" routerLinkActive="active" translate>Complain</li>
</ul> 


