:host {
    background: #089910;
    color: #fff;
    position: fixed;
    left: auto;
    top: 0;
    right: 0;
    bottom: 0;
    width: 20%;
    min-width: 250px;
    z-index: 9999;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    
  }
   
  ul {
    font-size: 18px;
    line-height: 3;
    font-weight: 400;
    padding-top: 20px;
    list-style: none;
    cursor: pointer;
  }
  input{
    width: 75%;
  }

.active{
  font-size: 22px;
  color: yellow;
}
p{
  margin:5px;
  text-align:justify;  
}
button{
  height:22px;
}
.ui-clickable{
  height:1px;
}

