h2{
    margin-left: 25%;
  }

.circ_area{
  margin-left: 5%;
}

.address {    
  position: absolute;
  width:calc(90% - 10px);
  max-width:1200px;
  
  min-height: 2em;
}

.respo {
  position: absolute;
  width:calc(90% - 10px);
  
  min-height: 10em;
  max-width:1200px;
}


