<h2>
  Circulations
</h2>



<div id='second'>
  <input [(ngModel)]="server2" name="server_input" id='server_input' placeholder='server2' style='width:800px;' />
  <br/>
  <p-dropdown hidden [options]="topics" [(ngModel)]="topic1" name="ctopic" (ngModelChange)="onTopicChange()" placeholder='Responce' ></p-dropdown>
  <br/>
  <button pButton type="button" label="SendComplain" class="ui-button-Send" (click)="SendComplain()"></button>
  <!-- <button pButton type="button" label="GetUser" class="ui-button-Send" (click)="getUser()"></button> -->
  <br/>
  <br/>
  <textarea pInputTextarea [(ngModel)]="respo_area" name="respo_area" id="respo_area"></textarea>
</div>