<h2>
  Circulations
</h2>

<table>
<tr>
<td>
  <div class="circ_area">
    <textarea pInputTextarea class="address" id='server_input' name="server_input" placeholder="input address" [(ngModel)]="server2" ></textarea>
    <br/>
    <p-dropdown id="resp" hidden [options]="topics" [(ngModel)]="topic1" name="ctopic" (ngModelChange)="onTopicChange()" placeholder='Responce' ></p-dropdown>
    <br/>
    <button #but pButton type="button" label="SendQ" class="ui-button-Send" (click)="SendQ()"></button>
    <!-- <button pButton type="button" label="GetUser" class="ui-button-Send" (click)="getUser()"></button> -->
    <br/>
    <br/>
    <textarea pInputTextarea class="respo"  id="respo_area" name="respo_area" [(ngModel)]="respo_area" ></textarea>
  </div>
</td>
<td>
<!-- <img id="avatar_img" src = '../assets/img/logo_ico.png' /> -->
</td>
</tr>
</table>

