h2{
    margin-left: 25%;
  }

p-dropdown, button{
    margin-left: 5%;  
  }

#respo_area {
    margin-left: 5%;
    width: 1200px;
    height: 400px;
  }

  #server_input {

    margin-left: 5%;

  }