<h2>
  Circulations
</h2>

<div>

<table>
<tr>
<td>
  <div class="circ_area">
    <textarea pInputTextarea class="address" id='server_input' name="server_input" placeholder="input address" [(ngModel)]="server2" ></textarea>
    <br/>
    <p-dropdown id="resp" hidden [options]="topics" [(ngModel)]="topic1" name="ctopic" (ngModelChange)="onTopicChange()" placeholder='Responce' ></p-dropdown>
    <br/>
    <button #but pButton type="button" label="SendQ" class="ui-button-Send" (click)="SendQ()"></button>
    <button #test pButton type="button" label="TestCurry" class="ui-button" (click)="testCurry()"></button>
    <!-- <button pButton type="button" label="GetUser" class="ui-button-Send" (click)="getUser()"></button> -->
    <br/>
    <br/>
    <textarea pInputTextarea class="respo"  id="respo_area" name="respo_area" [(ngModel)]="respo_area" ></textarea>
  </div>
</td>
<td>
<!-- <img id="avatar_img" src = '../assets/img/logo_ico.png' /> -->
</td>
</tr>
</table>



</div>

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

<div class="container">
  <h3  >DirectiveCheck</h3>
  <div>
      <app-auth>
        <h2 inputRef >Submit data</h2>
        <button type="Submit" (click)="onClicked()" >Submit</button>
      </app-auth>
  </div>
</div>


<svg>
  <rect x="0" y="0" width="100" height="100"/>
  </svg>


