<h2 translate>Employees</h2>



<p>
<p-button icon="pi pi-ban" iconPos="left" label="Back" (click)='onBackClick()' (dblclick)='onDblClick(event)' ></p-button>    
<p-button icon="pi pi-check" iconPos="right" [(ngClass)]="depclass" label="КОММЕРЧЕСКИЙ ДЕПАРТАМЕНТ" (click)='onCDClick(0)' (dblclick)='onDblClick(event)' ></p-button>
<p-button icon="pi pi-check" iconPos="right" [(ngClass)]="depclass" label="ФИНАНСОВЫЙ ДЕПАРТАМЕНТ" (click)='onCDClick(1)' (dblclick)='onDblClick(event)' ></p-button>
<p-button icon="pi pi-check" iconPos="right" [(ngClass)]="depclass" label="ЮРИДИЧЕСКИЙ ДЕПАРТАМЕНТ" (click)='onCDClick(2)' (dblclick)='onDblClick(event)' ></p-button>
<p-button icon="pi pi-check" iconPos="right" [(ngClass)]="depclass" label="Департамент развития" (click)='onCDClick(3)' (dblclick)='onDblClick(event)' ></p-button>
<p-button icon="pi pi-check" iconPos="right" [(ngClass)]="depclass" label="Департамент управления персоналом" (click)='onCDClick(4)' (dblclick)='onDblClick(event)' ></p-button>
<p-button icon="pi pi-check" iconPos="right" [(ngClass)]="depclass" label="Департамент информационных технологий" (click)='onCDClick(5)' (dblclick)='onDblClick(event)' ></p-button>
</p>

<br/>

<p>
<p-dropdown hidden [(ngModel)]="selectedTopDepar" (ngModelChange)='onDeparChanged(event)' [options]="selected_top_deps" id="selected_top_deps" name="selected_top_deps" (dblclick)='onDblClick(event)' (ngModelChange)='onDeparChanged(event)' ></p-dropdown>
</p>

<!-- 
<p-button icon="pi pi-check" iconPos="right" label="ФИНАНСОВЫЙ ДЕПАРТАМЕНТ"></p-button>
<p-button icon="pi pi-check" iconPos="right" label="ЮРИДИЧЕСКИЙ ДЕПАРТАМЕНТ"></p-button>
<p-button icon="pi pi-check" iconPos="right" label="ОТДЕЛ РАЗВИТИЯ"></p-button>
<p-button icon="pi pi-check" iconPos="right" label="ДЕПАРТАМЕНТ УПРАВЛЕНИЯ ПЕРСОНАЛОМ"></p-button>
<p-button icon="pi pi-check" iconPos="right" label="ДЕПАРТАМЕНТ ИНФОРМАЦИОННЫХ ТЕХНОЛОГИЙ"></p-button>
<p-button icon="pi pi-check" iconPos="right" label="ДЕПАРТАМЕНТ Е-COMMERCE"></p-button>
<p-button icon="pi pi-check" iconPos="right" label="ДЕПАРТАМЕНТ ДИСТРИБУЦИИ"></p-button>
<p-button icon="pi pi-check" iconPos="right" label="Оптовый ДЕПАРТАМЕНТ"></p-button>
<p-button icon="pi pi-check" iconPos="right" label="ДЕПАРТАМЕНТ МАТЕРИАЛЬНО ТЕХНИЧЕСКОГО ОБЕСПЕЧЕНИЯ, СТРОИТЕЛЬСТВА И ЛОГИСТИКИ"></p-button>
<p-button icon="pi pi-check" iconPos="right" label="СЛУЖБА ВНУТРЕННЕЙ БЕЗОПАСНОСТИ"></p-button>
<p-button icon="pi pi-check" iconPos="right" label="ФИЛИАЛЫ"></p-button>
<p-button icon="pi pi-check" iconPos="right" label="РОЗНИЧНЫЕ СЕТИ"></p-button>
<p-button icon="pi pi-check" iconPos="right" label="Департамент розничных продаж"></p-button>
 -->


<p-toast [style]="{marginTop: '80px'}" position="top-left" styleClass="company" ></p-toast>
<br/>
<p-dropdown hidden [(ngModel)]="_offselectedDepar" [options]="deps" name="deps" (dblclick)='onDblClick(event)' (ngModelChange)='off_onDeparChanged(event)' label='Department' >Department</p-dropdown>

<p-table hidden id='dtt' #dt [columns]="cols" [value]="users1" [paginator]="true" [rows]="20" [tableStyle]="{'table-layout':'auto'}" >
    <ng-template pTemplate="caption">
        <div style="text-align: right">        
            <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
            <input type="text" pInputText size="50" placeholder="Search" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
        </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns">
                {{col.header}}
            </th>
        </tr>
        <tr>
            <th *ngFor="let col of columns" [ngSwitch]="col.field">
                <!-- <input *ngSwitchCase="'employee'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)"> -->
                <!-- <p-dropdown *ngSwitchCase="'department'" [options]="deps" [style]="{'width':'100%'}" (onChange)="dt.filter($event.value, col.field, 'equals')"></p-dropdown>                 -->
                <!-- <p-multiSelect *ngSwitchCase="'color'" [options]="colors" defaultLabel="All Colors" (onChange)="dt.filter($event.value, col.field, 'in')"></p-multiSelect> -->
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData">            
            <td *ngFor="let col of columns" [ngSwitch]="col.field"  >
                <a *ngSwitchCase="'mail'" href={{mailto}}{{rowData[col.field]}} >{{rowData[col.field]}}</a>
                <a *ngSwitchCase="'telephoneNumber'" href={{tel}}{{rowData[col.field]}} >{{rowData[col.field]}}</a>
                <a *ngSwitchDefault >{{rowData[col.field]}}</a>
            </td>
        </tr>
    </ng-template>
</p-table>




<!-- all woRKS!               .d.results        -->
<!-- <br/>
<br/>
<h2>Azure AD Employee List</h2>
<ul class="users" >
    <li *ngFor="let user of users1">  
        <span class="badge">{{user.department}}</span> <a> {{user.surname}} {{user.givenName}} - {{user.mail}} </a>
    </li>
</ul> -->

<!-- <ul class="data" >
  <li *ngFor="let group of groups.d.results">      
    <a>{{group.displayName}} --- {{group.objectId}}</a> 
  </li>
</ul> -->

<!-- <ul class="employees" >
  <li *ngFor="let employee of employees">
      <a routerLink="/detail/{{employee.id}}">
      <span class="badge">{{employee.id}}</span> <a> {{employee.job}} - {{employee.name}} </a>
    </a>
  </li>
</ul> -->



