  /* EmployeeComponent's private CSS styles */
.selected {
  background-color: #CFD8DC !important;
  color: white;
}
.employees {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  /*width: 75em; */
  min-width: 40%;
}
.employees li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}
.employees li.selected:hover {
  background-color: #BBD8DC !important;
  color: white;
}
.employees li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.employees .text {
  position: relative;
  top: 0px;
}
.employees .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607D8B;
  line-height: 1em;
  /* position: relative; */
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
  width: 2em;
}
h2{
  margin-left: 25%;
}



.users {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  /*width: 75em; */
  min-width: 40%;
}
.users li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}
.users li.selected:hover {
  background-color: #BBD8DC !important;
  color: white;
}
.users li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.users .text {
  position: relative;
  top: 0px;
}
.users .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607D8B;
  line-height: 1em;
  /* position: relative; */
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
  width: 5%;
}
.ui table{
   width:90%;
}
table td{
  white-space: nowrap;  /** added **/
}
table td:last-child{
  /** width:100%; **/
}
p-button{
  margin:5px;
}
.active{
  visibility: visible;
}
.hidden{
  visibility: hidden;
}
