.logo{
  margin-left: 10%; 
}

@media (max-width : 1550px) {
  .logo {display:none;}
}

.ui-button {
  background: #1e961d;
}

li {
  cursor: pointer;
}

#btn_menu {
  margin-top: 1em;
  display: block;
  position: relative;
  overflow: hidden;
  position: fixed;
}

.hamburger {
    display: block;    
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 96px;
    height: 96px;
    font-size: 0;
    text-indent: -9999px;
    cursor: pointer;
    outline: none;
    background: none;
    border: 0;
    position: fixed;
    top: 0px;
  }

  .hamburger.leftm {
    left: 0px;
  }

  .hamburger.rightm {
    right: 0px;
  }
      
  .hamburger span {
    display: block;
    position: absolute;
    top: 32px;
    left: 18px;
    right: 18px;
    height: 8px;
    background: #089910;;
  }
   
  .hamburger span::before,
  .hamburger span::after {
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 8px;
    background-color: #089910;;
    content: "";
  }
   
  .hamburger span::before {
    top: -20px;    
  }
   
  .hamburger span::after {
    bottom: -20px;
  }

  .menu-icon.is-active {    
    animation: rotate 10s infinite linear;
  }

  @keyframes rotate{
    0%{ transform: rotate(0deg); }
    100%{ transform: rotate(360deg); }  
  }

  ::ng-deep .ui-sidebar-left{
  background: #089910;
  color: #ffffff;
  }

  ::ng-deep .ui-sidebar-left .pi{
    font-size: 2em;
    color: white;       
  }

  ::ng-deep .ui-sidebar-right .pi{
    font-size: 2em;
    color: white;
  }

  ::ng-deep .ui-sidebar-right  .pi:hover{      
      color: #089910;
      background: #ffff;
    }   

  ::ng-deep .ui-sidebar-right{
    background: #089910;
    color: #ffffff;
    }





