.logo{
  margin-left: 10%; 
   
}

@media (max-width : 1550px) {
  .logo {display:block;}
  .logo {display:none;}
}

.ui-button {
  background: #1e961d;
}

#btn_menu {
  margin-top: 5em;
  display: block;
  position: relative;
  overflow: hidden;
  position: fixed;
}

.hamburger {
    display: block;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 96px;
    height: 96px;
    font-size: 0;
    text-indent: -9999px;
    cursor: pointer;
    outline: none;
    background: none;
    border: 0;

    position: fixed;
    top: 0;
  }
      
  .hamburger span {
    display: block;
    position: absolute;
    top: 32px;
    left: 18px;
    right: 18px;
    height: 8px;
    background: #089910;;
  }
   
  .hamburger span::before,
  .hamburger span::after {
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 8px;
    background-color: #089910;;
    content: "";
  }
   
  .hamburger span::before {
    top: -20px;    
  }
   
  .hamburger span::after {
    bottom: -20px;
  }

  .menu-icon.is-active {    
    animation: rotate 10s infinite linear;
  }

  @keyframes rotate{
    0%{ transform: rotate(0deg); }
    100%{ transform: rotate(360deg); }  
  }


