body { font-size: 62.5%; }

h2{
    margin-left: 25%;
  }

::ng-deep .ui-tree{
    display: flex;
    padding: 10px;
 
  }  

@media(min-width: 375px){
  ::ng-deep .ui-tree{ 
    width: 370px;
  }  
}

@media(min-width: 401px){
  ::ng-deep .ui-tree{ 
    width: 400px;
  }  
}

@media(min-width: 501px){
  ::ng-deep .ui-tree{ 
    width: 500px;
  }  
}

@media(min-width: 601px){
  ::ng-deep .ui-tree{ 
    width: 600px;
  }  
}

@media(min-width: 701px){
  ::ng-deep .ui-tree{ 
    width: 700px;
  }  
}

@media(min-width: 801px){
  ::ng-deep .ui-tree{ 
    width: 800px;
  }  
}