<h2 translate>Instructions</h2>
<br />
<p-contextMenu #cm [model]="contextmenu_items"></p-contextMenu>


<div id="main">
        <div id="infsecurity" >
                <p-tree [value]="instructions"   selectionMode="single" [(selection)]="selectedFile"  layout="horizontal"  (onNodeSelect)="onPdfClick($event)" >
                        <ng-template let-node  pTemplate="folder">
                                <a title="{{node.id}}"  >{{  node.label  }}</a>
                                <!-- <a>{{   node.id }}</a> -->
                        </ng-template>
                        <ng-template let-node  pTemplate="file" >
                                <a title="{{node.id}}" >{{  node.label  }}</a><br/>                                
                                <!-- <a>{{   node.id }}</a> -->
                        </ng-template>                    
                </p-tree>
        </div>
</div>  

<div id="side" *ngIf = "iframeview">
<!-- <a href={{purl}}><p>Download PDF</p></a> -->
<!-- <img [src]="imgsrc"> -->
<!-- <pdf-viewer [src]="pdfsrc" [zoom]="0.4"></pdf-viewer> -->
<iframe style="height:630px" width="100%" [src]= "iframesrc" ></iframe>

</div>
